div(class='row survey-row')
    h1 #{question}

    div(class='row answer-row')
        div(class='answer answer--1')
            h2 #{answer[1]}
        div(class='answer answer--2')
            h2 #{answer[2]}
        div(class='answer answer--3')
            h2 #{answer[3]}
        div(class='answer answer--4')
            h2 #{answer[4]}