div(class='row survey-row')
    h1 #{question}

    div(class='row answer-row')
        div(class='answer answer--1')
            span(class='answer-number') A
            h2 #{answers[0]}
        div(class='answer answer--2')
            span(class='answer-number') B
            h2 #{answers[1]}
        div(class='answer answer--3')
            span(class='answer-number') C
            h2 #{answers[2]}
        div(class='answer answer--4')
            span(class='answer-number') D
            h2 #{answers[3]}